*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conatiner{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    border: 2px solid black;
    border-radius: 10px;
}
.inner img{
    height:400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: cover;
    border-radius: 10px;
}

.inner i{
    font-size: 75px;
    position: absolute;
    color:#fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: all ease 0.4s;
}